* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

/* Sección Izquierda */
.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.left-section .logo {
    width: 900px;
    height: auto;
}

.left-section h2 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 15px;
    text-transform: uppercase;
    color: #0a253c;
}

/* Línea Vertical */
.divider {
    width: 2px;
    height: 80%;
    background-color: #c8c9ca;
}

/* Sección Derecha (Formulario) */
.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    text-align: center;
}

.right-section h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #0a253c;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

label {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
    color: #0a253c;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #c8c9ca;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ffffff;
    color: #0a253c;
}

input::placeholder {
    color: #c8c9ca;
}

button {
    background-color: #0a253c;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #c8c9ca;
    color: #0a253c;
}

/* Media query para dispositivos con pantalla mediana */
@media screen and (max-width: 992px) {
    .left-section .logo {
        width: 500px;
    }
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }
    
    .left-section {
        display: none; /* Ocultar la sección izquierda completamente en dispositivos pequeños */
    }
    
    .right-section {
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    
    .divider {
        display: none; /* Ocultar el divisor */
    }
    
    form {
        width: 90%;
        max-width: 300px;
    }
    
    .right-section h2 {
        font-size: 28px;
        margin-bottom: 30px;
    }
    
    button {
        margin-top: 10px;
    }
}

/* Media query para dispositivos muy pequeños */
@media screen and (max-width: 480px) {
    .right-section h2 {
        font-size: 24px;
    }
    
    form {
        width: 95%;
    }
}